<div class='container'>
  <div class='row'>    
    <div class='col-md-4 mt-4 mb-3'>
      <h2>過去のコメント</h2>
    </div>
  </div>
</div>
<div class='container card'>
  <div class='card-body'>
    <% @comments.each do |comment| %>
      <p><%= render 'public/posts/comment.show', comment: comment, post: comment.post.id %></p>
    <% end %>
  </div>
</div>
<%= render 'layouts/back' %>
  <%#= paginate @comments %>
