<table class='table table-hover table-inveerse'>
  <thead>
    <th>職場名</th>
    <th>マップ</th>
    <th>ステータス</th>
    <th></th>
  </thead>
　<tbody>
    <% workplaces.each do |workplace| %>
      <tr>
        <td>
          <%= workplace.name %>
        </td>
        <td>
          <%= image_tag workplace.image, size: '100x70' %>
        </td>
        <td>
          <% if workplace.is_checked == true %>
            <span class='text-success'><strong>有効</strong></span>
          <% else %>
            <span class='text-secondary'><strong>無効</strong></span>
          <% end %>
        </td>
        <td>
          <%= link_to '編集', edit_admin_workplace_path(workplace.id), class: 'btn btn-success btn-sm' %>
        </td>
      </tr>
　  <% end %>
  </tbody>
</table>