<% notifications.each do |notification| %>
  <% visiter = notification.visiter %>
  <% comment = notification.comment %>
  
  <div class='notification-box'>
    <%= notification_form(notification) %>
    <span>
      <%= " (#{time_ago_in_words(notification.created_at)} å‰)" %>
    </span>
    <br>
    <% if !@comment.nil? %>
      <p class='moderate-font text-center' style='color: #708090;'><%= @comment %></p>
    <% end %>
  </div>
<% end %>
