<div class='container'>
  <div class='row'>    
    <div class='col-md-4 mt-4 mb-3'>
      <h2>投稿詳細</h2>
    </div>
  </div>
</div>
<div class='container card'>
  <div class='card-body'>
    <%= render 'show', post: @post %>
  </div>
</div>
<div class='container'>
  <div class='row'>   
    <div class='col-md-4 mt-4 mb-3'>
      <h3 class='comment-title'>コメント</h3>
    </div>
  </div>
</div>
<div class='container card'>
  <div class='card-body'>
    <% @comments.each do |comment| %>
      <p><%= render 'comment.show', comment: comment, post: @post, user: @user %></p>
    <% end %>
  </div>
</div>
<%= render 'layouts/back' %>