<div class='container'>
  <div class='row'>
    <%= render 'public/sections/index' %>
    <div class='col-md-8 offset-md-1 mt-5'>
      <%= image_tag 'kouteizu.jpg', class:"img-fluid" %>
    </div>
  </div>
</div>