<div class='container'>
  <div class='row'>
    <%= render 'public/sections/index' %>
    <div class='col-md-8 offset-md-1 mt-5'>
      <% @workplaces.each do |workplace| %>
        <%= image_tag workplace.image, size: '700x450' %>
      <% end %>
    </div>
  </div>
</div>
