<div class='container'>
  <div class='row'>
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 mt-5'>
      <div class='btn-wrapper col-10 mx-auto'>
        <div class='col-md-12 mx-auto text-center mt-5'>
          <h3 style='color: red'>
            注意！
          </h3>
          <h5>
            退会するとログインできなくなります。<br>
            本当に退会しますか？
          </h5>
        </div>
        <div class='col-md-12 mt-4 mx-auto text-center'>
        <div class='row'>
          <div class='col'>
            <%= link_to 'はい', public_withdrawal_path, class:'btn btn-danger btn-block', method: :patch %>
          </div>
          <div class="col">
            <%= link_to 'いいえ', public_user_path(current_user), class:'btn btn-primary btn-block' %>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>