<table class='table table-hover table-inveerse'>
  <thead>
    <th>ステータス</th>
    <th></th>
  </thead>
　<tbody>
    <!--ステータス名表示-->
    <% execution_statuses.each do |execution_status| %>
      <tr>
        <td>
          <%= execution_status.name %>
        </td>
        <td>
          <%= link_to '編集', edit_admin_execution_status_path(execution_status.id), class: 'btn btn-success btn-sm' %>
        </td>
      </tr>
　  <% end %>
  </tbody>
</table>