<div class='container'>
  <div class='row'>    
    <div class='col-md-4 mt-4 mb-3'>
      <h2>工程一覧・追加</h2>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <%= render 'create', section: @section %>
    <div class='col-md-8 offset-md-1'>
      <%= render 'index', sections: @sections %>
    </div>
  </div>
</div>