<div class='container'>
  <div class='row'>
    <div class='col-md-10 mx-auto'>
      <div class='row-md-10 pb-3 mt-4'>
        <h4 class='text-center about'>
          Q極は現場で働く皆さんの、職場改善活性化ツールです。<br>
          改善を繰り返すことで作業効率が上がり、<br>
          製品の品質向上につながります。<br>
          みなさんのノウハウを共有し、より良い職場を作り上げていきましょう！<br>
        </h4>
      </div>
      <div class='row-md-10 pb-3'>
        <div class='text-center'>
          <%#= image_tag "naganocake_top.jpg", class:'img-fluid' %>
        </div>
      </div>
    </div>
  </div>
  </div>