<div style='background: url(/assets/mazda-997480_1280); height: 627px; width: 100%; background-position: center; background-size: cover;'>
  <div class='container'>
    <div class='row'>
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        <div class='btn-wrapper col-10 mx-auto'>
          <div class='col-md-12 mx-auto text-center mt-5 mb-5'>
            <h3 class='top-title'>
              サイト内の情報は社外秘です
            </h3>
            <h5 class='top-body'>
              ルールを守りながら活用し<br>
              職場を活性化させましょう！
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>