<div class='container'>
  <div class='row'>    
    <div class='col-md-4 mt-4 mb-3'>
      <h2>検索結果 "<%= @keyword %>"</h2>
    </div>
      <p>
        <%= render 'index', posts: @posts %>
      </p>
  </div>
</div>
<%= render 'layouts/back' %>
