@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.footer {
  background-color:#AAAAAA; 
  margin-top: auto !important;
}

div {
  font-family :serif;
}

h2 {
  font-family :serif;
}

h3 {
  font-family :serif;
}

h5{
  font-family :serif;
}

.top-image {
    background-image: url(../images/mazda-997480_1280);
    height :627px;
    width : 100%;
    background-position: center;
    background-size: cover;
}

.comment-title {
  color :#777777;
}

.top-title {
  color :white;
}

.top-body{
  color :white;
}

.register {
  text-align :center;
}

.field {
  text-align :center;
}

.actions {
  text-align :center;
}

.appearance {
  font-size :12px;
}
